<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db1" connectionString="Server=myServerAddress;Database=myDataBase1;Trusted_Connection=True;"/>
    <add name="db2" connectionString="Server=myServerAddress;Database=myDataBase2;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key ="setting1" value="value1"/>
    <add key ="setting2" value="value2"/>
  </appSettings>
</configuration>